.icon-style {
  text-decoration: none;
  width: 70%;
  font-size: 10px;
  transition: all .5s ease-in-out;
  margin: 12px;
}

.icon-style-home {
  font-size: 45px;
  color: #FB607F;
}

Form {
  border:2px solid #343a4041;
  padding: 20px;
  margin-bottom: 30px;
}

.home-search-icon {
  display: flex;
  font-size: 200px;
  transition: all .5s ease-in-out;
  margin: 10px;
  text-align: center;
  color: hsl(48, 93%, 53%);
  border: solid 10px #66B032;
  padding: 5px;
}
.submit-btn {
  padding: 5px;
  margin: 5px;
}

.search-fontawesome {
  font-size: 18px;
  padding-left: 10px;
}

body {
  height: 350vh;
}

.title-style {
  margin: 45px;
  color: #66B032;
  font-size: 40px;
  text-align: center;
}

.parragraph-style {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.saved-cards {
  box-shadow: 10px 10px 10px grey;


}

#jumbo1 {
  background-color: #66B032 !important;
  border-top: 5px solid #FB607F;
  border-bottom: 5px solid #FB607F;

}

#footer-main {
  background-color: #343a40 !important;
  border-top: 4px solid #FB607F;
}


.icons {
  font-size: 30px;
  color: hsl(48, 93%, 53%);
  padding: 4px;
  margin-top: 5px;
}

.icons:hover {
  opacity: 0.8;
  color: #66B032;
}

.footer-style {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 15px;
}

.banner-image {
  background-image: url("./assets/header6.png");
  height: 380px;
  border-bottom: 5px solid #FB607F;
  box-shadow: 10px 10px 10px 10px rgba(61, 58, 58, 0.422) inset;
  margin-bottom: 20px;
  background-size: cover;
}

.carousel {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.gitLink {
  /* border-radius: 15px;
  background-color: #66B032; */
  color: #66B032;
  font-size: 22px;
  margin: 0% 3%;
  padding: .5%;
}

a {
  color: #66B032;
  padding: 10px;
  text-align: center;
}

.a-size {
  font-size: 30px;
}

a:hover {
  color: #FB607F;
}

.card-title {
  font-size: 22px;
  color:#343a40;
}

.donate-btn-page {
  color:#343a40;
  background-color: hsl(48, 93%, 53%);
  display: flexbox;
  align-items: center;
  padding: 10px;
  margin-right: 70px;
  margin-left: 70px;

}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (max-width: 850px) {

  .banner-image {
    height: 150px;
    background-size: cover;
  }
  .home-search-icon {
    display: block;
    font-size: 200px;
    transition: all .5s ease-in-out;
    margin: 10px;
    text-align: center;
    color: #343a40;
    border: solid 2px #66B032;
    border-radius: 20%;

  }
}